{% extends 'personal/home4.html' %}

{% block content %}
<style>
body
{
	background:skyblue;
}
.logo h1{
	font-size:150px;
	color:black;
	text-align:center;
	margin-bottom:1px;
	text-shadow:1px 1px 6px #555;
	}
.logo p
{
	color:#ff0000;
	font-size:20px;
	margin-top:1px;
	text-align:center;
}
.logo p span
{
	color:lightgreen;
}

.sub a{
	color:black;
	background:#06afd8;
	text-decoration:none;
	padding:5px;
	font-size:13px;
	font-family: arial, serif;
	font-weight:bold;
	}
</style>

	<div class="panel-group">
  <div class="panel panel-primary">
		<div class="logo">
			<div class="panel-body">

		  <h1>404</h1>
		  <p>Sorry This was deadlink - Page not Found</p>
			</div>
		</div>
	</div>
	</div>

{% endblock %}}