{% extends 'personal/home4.html' %}
{% block content %}
{% load bootstrap %}
<div class = "container-fluid">
    <form role="form"  action = "" method = "post" enctype="multipart/form-data">
        <legend>FAMILY DETAILS</legend>
        {% csrf_token%}
        {{ form|bootstrap_horizontal }}<br><br>
        <div class = "form-group">
            <div class = "col-sm-onset-5 col-sm-5">
                <br>
                <center>

                        <button type = "submit" class = "btn btn-success">Save</button>
                        <a href="{% url 'personal:med-add' %}" type="button" class = "btn btn-success">Next Page</a>

                </center>
            </div>
            </div>

        </form>
</div>

{% endblock %}