<!DOCTYPE html>
<html lang="en">

<head>
	<title>VINAYAK AUTOTRADE</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<style type="text/css">
		html,
		body {
		  height:100%
		}
		strong
		{
			color: #bc3302;
		}
		.navbar
		{
			min-height: 70px;
		}
		.navbar-collapse > li > a {
			padding-top: 0px;
			padding-bottom: 0px;
			line-height: 50px;
		}
		.navbar-brand
		{
			padding: 5px;
		}
		.glyphicon
		{
			font-size:large;
		}
	</style>
</head>


<nav class="navbar navbar-inverse ">
  <div class="container-fluid">
	  <a href="#" class="navbar-brand"><h2><strong>VINAYAK AUTOTRADE PVT. LTD.</strong></h2></a>
    <div class="navbar-header col-sm-4">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		<span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
	</div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right"><br>
        <li><a href="/admin_home"><span class="glyphicon glyphicon-home"></span>   Home</a></li>
        <li><a href=" {% url 'personal:employees1' %} "><span class="glyphicon glyphicon-eye-open"></span>   View</a></li>
		  <li><a href=" {% url 'personal:emp-add' %} "><span class="glyphicon glyphicon-plus"></span>   Add</a></li>
		  <li><a href="{% url 'personal:export_users_xls' %}"><span class="glyphicon glyphicon-export"></span>   Export</a></li>
		  <li><a href="/"><span class="glyphicon glyphicon-log-out"></span>   Logout</a></li>
      </ul>
    </div>
  </div>
</nav>



<body class="body" style="background-color: silver;">

			<div class='container-fluid'>
			<br><br>
			   {% block content %}
			   {% endblock %}

			</div>

</body>

</html>